/*MemberInfo*/
.container2 {
    width: 50%;
    line-height: 60px;
    margin: auto;
    border-style: solid;
}

#data1 {
    font-size: 20px;
    position: relative;
    left: 50px;
}

.data2 {
    position: relative;
    left: 35%;
}

.data4 {
    text-align: center;
}

/*DeleteOrder*/
.container3 {
    width: 500px;
    line-height: 60px;
    margin: auto;
    border-style: solid;
}

#data5 {
    text-align: center;
    font-size: 25px;
    line-height: 100px;
}

.data6 {
    padding: 10px 50px;
    font-size: 25px;
    line-height: 100px;
}

.data7 {
    padding: 10px 50px;
    font-size: 25px;
    line-height: 100px;
}

/*AddPreferential*/
.container4 {
    width: 40%;
    height: 500px;
    line-height: 50px;
    margin: auto;
    border-style: solid;
}

.line8 {
    text-align: center;
    line-height: 30px;
    margin: auto;
    padding: 10px;
}

/*CheckOrder*/
.container6 {
    width: 50%;
    line-height: 40px;
    margin: auto;
    padding: 10px 0px;
}

.container7 {
    width: 50%;
    line-height: 40px;
    margin: auto;
    border-style: solid;
    padding: 10px 0px;
}

.container8 {
    width: 40%;
    line-height: 40px;
    margin: auto;
    border-style: solid;
    padding: 10px 0px;
}

.container9 {
    width: 50%;
    line-height: 40px;
    margin: auto;
    border-style: solid;
    padding: 10px 0px;
}

.line9 {
    line-height: 30px;
    margin: auto;
    padding: 10px 0px;
}

.line10 {
    position: relative;
    left: 500px;
}

.line11 {
    text-align: center;
}

.line12 {
    position: relative;
    left: 100px;
}

.line13 {
    position: relative;
    left: 50px;
}

.line14 {
    position: relative;
    right: 50px;
}

.line15 {
    position: relative;
    left: 400px;
}

.line16 {
    position: relative;
    left: 50px;
}

.line17 {
    position: relative;
    left: 80px;
}

.line18 {
    position: relative;
    left: 20px;
}

.line19 {
    text-align: center;
}

.line20 {
    position: relative;
    left: 100px;
}

.line21 {
    position: relative;
    right: 50px;
}

.line22 {
    text-align: right;
}

.container5 {
    width: 50%;
    line-height: 40px;
    margin: auto;
    padding: 10px 0px;
}

.line23 {
    font-size: 20px;
    position: relative;
    right: 50px;
}

/*ModifyOrder*/
#line24 {
    width: 150px;
    height: 30px;
}

#selectbasic1 {
    width: 150px;
    height: 30px;
}

.body1 {
    width: 150px;
    height: 40px;
    margin: auto;
}

.line25 {
    text-align: center;
    position: relative;
    right: 50px;
}

.line26 {
    text-align: center;
    position: relative;
    right: 50px;
}

.line27 {
    position: relative;
    right: 10px;
}

.line28 {
    text-align: right;
}

.line29{
    text-align: left;
}

#line30 {
    width: 150px;
    height: 30px;
}

.kkk{
    padding: 0px 20px;
    margin: auto;
    position: relative;
    right: 30px;
}

.line31{
    text-align: center;
}